body {
	padding: 0;
	margin: 0;
}

/* ########## nav_box_1 ############# */
#nav_box_1 {
	display: flex;
	justify-content: space-around;
	/* border: 1px solid black; */
	height: 50px;
	align-items: center;
	background-color: #e02626;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#nav_box_1 a {
	text-decoration: none;
}

#D1 {
	display: flex;
	align-items: center;
	color: white;
}
#D1:hover {
	color: black;
}
#D1 div {
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	width: 110px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-weight: bold;
	height: 50px;
	font-size: 18px;
	background-color: #ed2d2f;
}
#D1 div:hover {
	color: black;
}

#D1 a {
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 1px solid black; */
	height: 50px;
	width: 110px;
	color: rgb(255, 255, 255);
}
#D1 a:hover {
	color: rgb(20, 19, 19);
}

#D1 div:hover {
	background-color: white;
	color: black;
}

#D2 {
	display: flex;
	width: 25%;
	width: 30%;
	font-size: 11px;
	align-items: center;
	justify-content: space-around;
}

#D2 a {
	color: white;
}

#store {
	display: flex;
	align-items: center;
	/* border: 1px solid black; */
	width: 35%;
}

#store img {
	color: white;
	width: 13px;
	height: 12px;
}

/* ################# nav_box_2 ################ */

#nav_box_2 {
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	height: 60px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: sticky;
	top: 0;
}

#logo {
	/* border: 1px solid black; */
	margin-left: 15px;
}

#logo img {
	margin-top: 5px;
	width: 140px;
	height: 110px;
}

#acc {
	margin-right: 20px;
	width: 20%;
	height: 60px;
	/* border: 1px solid black; */
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#acc img {
	width: 25px;
	height: 25px;
}
.group {
	display: flex;
	line-height: 28px;
	align-items: center;
	position: relative;
	max-width: 150px;
}

.group {
	display: flex;
	line-height: 28px;
	align-items: center;
	position: relative;
	max-width: 150px;
}

.input {
	width: 90%;
	height: 35px;
	line-height: 28px;
	font-weight: bold;
	padding-left: 2.5rem;
	border: 1px solid rgb(39, 38, 38);
	border-radius: 8px;
	outline: none;
	background-color: #ffffff;
	color: #000000;
	transition: 0.3s ease;
}

.input::placeholder {
	color: #000000;
}

.input:focus,
input:hover {
	outline: none;
	border-color: rgba(0, 0, 0, 0.4);
	background-color: #f4f4f4;
	box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}

.icon {
	position: absolute;
	left: 1rem;
	fill: #000000;
	width: 1rem;
	height: 1rem;
	color: black;
}

/* ########################## main ################### */
body {
	font-family: Poppins;
}
.wrapper {
	width: 75%;
	margin: auto;
	/* border: 1px solid black; */
}

.menu-area ul {
	/* background: #ffffff; */
	list-style: none;
	position: relative;
	text-transform: uppercase;
}
.menu-area ul li {
	display: inline-block;
}
.menu-area ul li a:hover {
	color: #e12d2d;
}
.menu-area ul li a {
	color: #000000;
	text-decoration: none;
	display: block;
	padding: 12px 35px;
	font-weight: bold;
	font-size: 14px;
}
.menu-area ul li:hover {
	background: hsl(0, 0%, 100%);
	border-bottom: 3px solid tomato;
	color: #e12d2d;
}
.menu-area ul li:hover > ul {
	display: block;
}
.menu-area ul ul {
	display: none;
	position: absolute;
	top: 100%;
	background: #ffffff;
}
.menu-area ul ul li {
	position: relative;
	display: block;
	border-bottom: 1px solid #cfcece;
	font-size: 11px;
}

.menu-area ul ul li :hover {
	color: tomato;
}
.menu-area ul ul ul {
	position: absolute;
	left: 100%;
	top: 0;
}
/* ############# work on responsive ################## */

#hide {
	display: none;
}

#para {
	color: white;
	font-size: 12px;
}
#btn {
	width: 80px;
	height: 28px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	background-color: tomato;
	border: 1px solid rgb(251, 251, 251);
	border-radius: 5px;
	font-size: 10px;
}

/* #For Tab view */

@media only screen and (max-width: 1000px) {
	/* Medium Screen  */
	.wrapper {
		display: none;
	}
	#login_user {
		display: none;
	}

	#hide {
		width: 80%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	#D1,
	#D2 {
		display: none;
	}

	.s1 {
		margin-left: 8px;
	}

	#logo img {
		margin-top: 5px;
		width: 110px;
		height: 85px;
	}

	/* .group {
		display: none;
	} */
}

/* #For Mobile view */

@media only screen and (max-width: 600px) {
	/* Small Screen  */
	.wrapper {
		display: none;
	}
	#login_user {
		display: none;
	}

	#hide {
		width: 80%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	#D1,
	#D2 {
		display: none;
	}

	.s1 {
		margin-left: 8px;
	}
	#logo img {
		margin-top: 5px;
		width: 110px;
		height: 85px;
	}

	.group {
		display: none;
	}
}
